<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <base target="_top" href="/">
  </head>
  <body>
    <hypothesis-app></hypothesis-app>

    <script class="js-hypothesis-config" type="application/json">
      {{{ htmlSafeJsonConfig }}}
    </script>

    <script src="boot.js"></script>
  </body>
</html>

