<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hypothesis</title>
{{! The <base> tag is required by Angular JS when HTML 5 history is
     enabled. We shouldn't really need this because a given instance of the app
     only ever displays a single route.
}}
    <base target="_top" href="/" />
{{#appCSSURLs}}
    <link rel="stylesheet" href="{{{url}}}">
{{/appCSSURLs}}
{{#metaAttrs}}
    <meta {{key}}="{{value}}">
{{/metaAttrs}}
{{#linkTags}}
    <link rel="{{ rel }}" type="{{ type }}" href="{{ href }}"/>
{{/linkTags}}
  </head>
  <body ng-app="h" ng-strict-di ng-controller="AppController" ng-csp="">
    <top-bar
      auth="auth"
      on-login="login()"
      on-logout="logout()"
      on-share-page="share()"
      on-show-help-panel="helpPanel.visible = true"
      is-sidebar="::isSidebar"
      search-controller="search"
      sort-key="sortKey()"
      sort-keys-available="sortKeysAvailable()"
      on-change-sort-key="setSortKey(sortKey)">
    </top-bar>

    <div class="create-account-banner" ng-if="isSidebar && auth.status === 'signed-out'" ng-cloak>
      To annotate this document
      <a href="{{ register_url }}" target="_blank">
        create a free account
      </a>
      or <a href="" ng-click="login()">sign in</a>
    </div>

    <div class="content" ng-cloak>
      <login-form
        ng-if="accountDialog.visible"
        on-close="accountDialog.visible = false">
      </login-form>
      <sidebar-tutorial ng-if="isSidebar"></sidebar-tutorial>
      <share-dialog
        ng-if="shareDialog.visible"
        on-close="shareDialog.visible = false">
      </share-dialog>
      <help-panel ng-if="helpPanel.visible"
        on-close="helpPanel.visible = false"
        auth="auth">
      </help-panel>
      <main ng-view=""></main>
    </div>

    <!-- App Configuration !-->
    <script class="js-hypothesis-settings" type="application/json">
      {{{ appConfig }}}
    </script>

    <!-- Scripts !-->
    {{# appJSURLs }}
    <script src="{{{ url }}}"></script>
    {{/ appJSURLs }}

    <!-- Analytics !-->
    {{# gaTracking }}
      <!-- Google Analytics -->
      <script async src='//www.google-analytics.com/analytics.js'></script>
      <script>
       window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
       ga('create', 'UA-{{id}}', '{{domain}}');

       {{! No pageview event is sent here because that is handled by the
          Angular GA integration in the client app after it boots.
       }}
      </script>
      <!-- End Google Analytics -->
    {{/ gaTracking }}
  </body>
</html>
