.thread-list {
  & > * {
    // Default spacing between items in the annotation card list
    margin-bottom: 20px;
  }
}

.thread-list__card {
  border-bottom: 1px solid $grey-2;
  border-bottom-color: $grey-3;
  border-radius: 2px;
  cursor: pointer;
  padding: $layout-h-margin;
  background-color: $white;
}

.thread-list__spacer {
  // This is a hidden element which is used to reserve space for off-screen
  // threads, so it should not occupy any space other than that set via its
  // 'height' inline style property.
  margin: 0;
}
